<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<h2><%= link_to image_tag("output_image.jpg", height: 200, width: 300, alt: "RAM"),
            'https://github.com/peterhychan/' %> </h2>
  
<h2>
  Contact Peter Ho Yeung Chan about Submission RAM via 
  <a href=mailto:peterchan01272002@gmail.com?subject=SubmissionRAM Feedback">email</a>
</h2>