<% provide(:title, "Help") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Submission RAM</title>
  </head>
  <body>
    <h1>FAQ Page </h1>
    
    <h2>Q: I have signed up for an account. But I have not received the confirmation email. What should I do ?</h2>
    <h4>A: Please wait at least 5 minutes after you completed the sign up procedure. Or contact the webmaster for additional assistance. </h4>
    
    <h2>Q: I audit this class. Can I sign up on Submission RAM?</h2>
    <h4>A: You may do so. Make sure you this is approved by the instructor before you sign up on Submission RAM, or your account will be deleted.</h4>
    
    <h2>Q: I am so lost in learning Ruby on Rails. What should I do ? </h2>
    <h4>A: The learning curve of RoR may be tough. Do not give up. Email your instructor before you officially drop the course. Your instructor is always by your side! </h4>
    

  </body>
</html>